{% extends 'base.html' %} {% block content %}
<center>
  <div style="color: white">
    <h1>Grupo 3</h1>
    <h1>PyToPy</h1>
  </div>
</center>
<center>
  <div class="row" style="margin-bottom: 15px;">
    <div class="col-md-4">
      <div class="card" id="tarjeta">
        <img
          class="card-img-top"
          src="static/images/FMA03.png"
          style="padding: 1em;"
          width="200"
          height="275"
          alt="Card image cap"
        />
        <div class="card-body">
          <p class="card-text">Jorge Isaac Xicol Vicente 201807316</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" id="tarjeta">
        <img
          class="card-img-top"
          src="static/images/Saitama01.png"
          style="padding: 1em;"
          width="200"
          height="275"
          alt="Card image cap"
        />
        <div class="card-body">
          <p class="card-text">Eduardo Tomás Ixén Rucuch 201800524</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" id="tarjeta">
        <img
          class="card-img-top"
          src="static/images/Mob01.png"
          style="padding: 1em;"
          width="200"
          height="275"
          alt="Card image cap"
        />
        <div class="card-body">
          <p class="card-text">Byron Rúben Hernandez de Leon 201806840</p>
        </div>
      </div>
    </div>
  </div>
</center>

{% endblock %}
